<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>data.file</param-name>
        <param-value>WEB-INF/users.ser</param-value>
    </context-param>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.barsoft.memepost.Utils.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/protected/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.barsoft.memepost.Utils.LifeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>SigninServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.SigninServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.DeletePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.AddPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePost</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.LikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DislikePostServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.DislikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentPostServlet</servlet-name>
        <servlet-class>com.barsoft.memepost.servlets.CommentPostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninServlet</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/sign-up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/protected/sign-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostServlet</servlet-name>
        <url-pattern>/protected/delete-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostServlet</servlet-name>
        <url-pattern>/protected/add-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePost</servlet-name>
        <url-pattern>/protected/like-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DislikePostServlet</servlet-name>
        <url-pattern>/protected/dislike-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentPostServlet</servlet-name>
        <url-pattern>/protected/comment-post</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
