<?xml version="1.0" encoding="utf-8"?>

<!--
  Дополнительные сведения по настройке приложения ASP.NET см. по ссылке
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <roleManager enabled="true" cacheRolesInCookie="true" />

    <authentication mode="Forms">
      <forms name=".FORM" loginUrl="SignInForm.aspx" defaultUrl="Index.aspx" protection="All" timeout="30" path="/">
      </forms>
    </authentication>
    
    <authorization>
      <allow roles="User" />
      <deny users="*" />
    </authorization>

  </system.web>
 
  <location path="SignInForm.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SignUpForm.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
